.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

.logo img {
    width: 100%;
}

.title {
    font-size: 36px;
    color: var(--dark);
    font-weight: 500;
}

.now {
    font-weight: 800;
}

.powered {
    font-size: 14px;
    text-align: right;
    color: var(--light-2);
    font-weight: 400;
    line-height: 0px;
}
