:root{
  /* variables */
  --light: #ffffff;
  --light-background: #f8f4f4;
  --dark: #00171f;
  --dark-2: #003459;
  --main-dark: #007ea7;
  --main: #00a8e8;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, button, input, textarea{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}