.sevenday-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--dark);
    margin-top: 1rem;
}

.sevenday-heading {
    font-weight: 600;
}

.sevenday-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sevenday-card {
    height: 150px;
    width: 110px;
    background-color: var(--light);
    border-radius: 15px;
    margin: 1rem 0;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.week-icon {
    width: 64px;
}

.week-icon img {
    width: 100%;
}

.temp-info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: var(--light-2);
}
